Mock Machine learning Neural Network model for project using sample data

In [1]:
# Import our dependencies module 19.4.3
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [7]:
# Import our input dataset
df = pd.read_csv('HR-Employee-Attrition.csv')
df.head()

   Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0   41       Yes  ...                       0                     5
1   49        No  ...                       1                     7
2   37       Yes  ...                       0                     0
3   33        No  ...                       3                     0
4   27        No  ...                       2                     2

[5 rows x 35 columns]

In [9]:
# Generate our categorical variable list
attrition_cat = df.dtypes[df.dtypes == "object"].index.tolist()
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [10]:
# Check the number of unique values in each column
df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [15]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

   Attrition_No  Attrition_Yes  ...  OverTime_No  OverTime_Yes
0           0.0            1.0  ...          0.0           1.0
1           1.0            0.0  ...          1.0           0.0
2           0.0            1.0  ...          0.0           1.0
3           1.0            0.0  ...          0.0           1.0
4           1.0            0.0  ...          1.0           0.0

[5 rows x 31 columns]

In [16]:
# Merge one-hot encoded features and drop the originals
attrition_df = df.merge(encode_df,left_index=True, right_index=True)
attrition_df = df.drop(attrition_cat,1)
attrition_df.head()

   Age  DailyRate  ...  YearsSinceLastPromotion  YearsWithCurrManager
0   41       1102  ...                        0                     5
1   49        279  ...                        1                     7
2   37       1373  ...                        0                     0
3   33       1392  ...                        3                     0
4   27        591  ...                        2                     2

[5 rows x 26 columns]

In [37]:
# Split our preprocessed data into our features and y target arrays want to predict
y = encode_df["Attrition_Yes"].values
X = encode_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset useing sklearn
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [38]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [39]:
# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

In [40]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8


# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [41]:
# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [42]:
# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 8)                 240
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 9
=================================================================
Total params: 249
Trainable params: 249
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [44]:
# Fit the model to the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 1ms/step - loss: 0.6939 - accuracy: 0.5726
Epoch 2/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6264 - accuracy: 0.6897
Epoch 3/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5727 - accuracy: 0.7668
Epoch 4/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5293 - accuracy: 0.8004
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4961 - accuracy: 0.8140
Epoch 6/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4702 - accuracy: 0.8249
Epoch 7/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4510 - accuracy: 0.8276
Epoch 8/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4357 - accuracy: 0.8285
Epoch 9/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4241 - accuracy: 0.8294
Epoch 10/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4150 - accuracy: 0.8348
Epoch 11/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4081 - accuracy: 0.8358
Epoch 12/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4022 - accuracy: 0.8358
Epoch 13/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3975 - accuracy: 0.8358
Epoch 14/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3934 - accuracy: 0.8367
Epoch 15/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3897 - accuracy: 0.8385
Epoch 16/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3869 - accuracy: 0.8403
Epoch 17/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3841 - accuracy: 0.8430
Epoch 18/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3816 - accuracy: 0.8430
Epoch 19/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3791 - accuracy: 0.8485
Epoch 20/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3770 - accuracy: 0.8494
Epoch 21/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3753 - accuracy: 0.8494
Epoch 22/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3734 - accuracy: 0.8521
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3721 - accuracy: 0.8521
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3705 - accuracy: 0.8530
Epoch 25/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3692 - accuracy: 0.8521
Epoch 26/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3679 - accuracy: 0.8530
Epoch 27/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3669 - accuracy: 0.8521
Epoch 28/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3659 - accuracy: 0.8512
Epoch 29/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3651 - accuracy: 0.8512
Epoch 30/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3644 - accuracy: 0.8512
Epoch 31/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3634 - accuracy: 0.8521
Epoch 32/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3628 - accuracy: 0.8512
Epoch 33/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3619 - accuracy: 0.8521
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3613 - accuracy: 0.8512
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3609 - accuracy: 0.8485
Epoch 36/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3601 - accuracy: 0.8494
Epoch 37/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3598 - accuracy: 0.8475
Epoch 38/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3590 - accuracy: 0.8503
Epoch 39/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3586 - accuracy: 0.8494
Epoch 40/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3581 - accuracy: 0.8503
Epoch 41/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3575 - accuracy: 0.8485
Epoch 42/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3568 - accuracy: 0.8494
Epoch 43/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3567 - accuracy: 0.8512
Epoch 44/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3568 - accuracy: 0.8512
Epoch 45/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3560 - accuracy: 0.8530
Epoch 46/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3556 - accuracy: 0.8512
Epoch 47/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3551 - accuracy: 0.8512
Epoch 48/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3550 - accuracy: 0.8530
Epoch 49/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3545 - accuracy: 0.8530
Epoch 50/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3539 - accuracy: 0.8530
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3538 - accuracy: 0.8530
Epoch 52/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3533 - accuracy: 0.8530
Epoch 53/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3529 - accuracy: 0.8521
Epoch 54/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3526 - accuracy: 0.8530
Epoch 55/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3524 - accuracy: 0.8548
Epoch 56/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3518 - accuracy: 0.8530
Epoch 57/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3520 - accuracy: 0.8548
Epoch 58/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3514 - accuracy: 0.8530
Epoch 59/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8539
Epoch 60/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3509 - accuracy: 0.8539
Epoch 61/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8539
Epoch 62/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8557
Epoch 63/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3495 - accuracy: 0.8557
Epoch 64/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3493 - accuracy: 0.8512
Epoch 65/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3492 - accuracy: 0.8557
Epoch 66/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3488 - accuracy: 0.8539
Epoch 67/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3483 - accuracy: 0.8566
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8557
Epoch 69/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3478 - accuracy: 0.8584
Epoch 70/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3476 - accuracy: 0.8575
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3469 - accuracy: 0.8593
Epoch 72/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3467 - accuracy: 0.8575
Epoch 73/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3463 - accuracy: 0.8575
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3465 - accuracy: 0.8548
Epoch 75/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3461 - accuracy: 0.8566
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8557
Epoch 77/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8557
Epoch 78/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3450 - accuracy: 0.8575
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8566
Epoch 80/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8575
Epoch 81/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3438 - accuracy: 0.8566
Epoch 82/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3435 - accuracy: 0.8584
Epoch 83/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3432 - accuracy: 0.8566
Epoch 84/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3431 - accuracy: 0.8575
Epoch 85/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3426 - accuracy: 0.8557
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8575
Epoch 87/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8566
Epoch 88/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3413 - accuracy: 0.8575
Epoch 89/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8557
Epoch 90/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8575
Epoch 91/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8566
Epoch 92/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8575
Epoch 93/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8575
Epoch 94/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8593
Epoch 95/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8584
Epoch 96/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8584
Epoch 97/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8575
Epoch 98/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8566
Epoch 99/100
35/35 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8584
Epoch 100/100
35/35 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8575

In [45]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3192 - accuracy: 0.8668
Loss: 0.31922289729118347, Accuracy: 0.866847813129425

In [ ]:
# Predict the classification of a new set of data
new_X, new_Y = make_blobs(n_samples=10, centers=2, n_features=2, random_state=78)
new_X_scaled = X_scaler.transform(new_X)
(nn_model.predict(new_X_scaled) > 0.5).astype("int32")